body {
	width: 100%;
	height: 100%;
	background-image: url("https://source.unsplash.com/featured/?nature,earth,mountains,valleys");
	color: #fff;
}

#time {
	position:absolute;
	font-size: 13ex;
	vertical-align: center;
	color: #fff;
}

p {
	text-align: center;
}

.stick {
	position: absolute;
	left: 20%;
	right: 20%;
	bottom: 40%;
}
.greet {
	font-size:3ex;
}

#searchInput {
	margin-top: 2ex;
	margin-left: 2ex;
	padding-left: 1ex;
	border-radius:10px;
	background-color: rgba(255,255,255,0.2);
	border:none;
	box-shadow: 1px 1px 1px 1px #fff;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #eee;

}

#time {
	position: relative;
	margin-top: 10ex;
}

#quote {
	position: absolute;
	bottom: 1ex;
	left: 40%;
	right: 40%;
	text-align: center;
}


