body {
	width: 100%;
	height: 100%;
	background-image: url("https://source.unsplash.com/featured/?nature,earth,mountains,valleys");
	color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#time {
	position:absolute;
	font-size: 13ex;
	vertical-align: center;
	color: #fff;
}

p {
	text-align: center;
}

.stick {
	position: absolute;
	left: 20%;
	right: 20%;
	bottom: 40%;
}
.greet {
	font-size:3ex;
}

#searchInput {
	margin-top: 2ex;
	margin-left: 2ex;
	padding-left: 1ex;
	border-radius:5px;
	background-color: rgba(255,255,255,1);
	border:1px solid #eaeaea;
	color: #000;

}

#time {
	position: relative;
	margin-top: 10ex;
}

#quote {
	position: absolute;
	bottom: 1ex;
	left: 40%;
	right: 40%;
	text-align: center;
}


